.team{
  padding-bottom: 100px;

  & .col3{
    position: relative;
  }

  &__bg{
    margin-bottom: 100px;
  }

  &__info{
    width: 100%;
    padding: 10px;
    background:linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.5) 51%, rgba(0,0,0,0.8) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-weight: 100;
  }
}
